* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    font-size: 16px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: rgb(224, 232, 255);
    background-repeat: no-repeat;
    min-height: 100vh;
    text-align: center;
}

.container {
    width: 50%;
    display: grid;
    margin: auto;
    background-color: rgb(245, 247, 255);
    border-radius: 20px;
}

.illustration img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.content {
    padding: 30px;
}

.content h2 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 20px;
    font-weight: 900;
}

.content p {
    color: hsl(224, 23%, 55%);
    margin-bottom: 15px;
}

.price-time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 29%, 96%);
    border-radius: 10px;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

.price-time img {
    margin-right: 15px;
    width: 40px;
}

.plan {
    padding-top: 10px;
}

.price-time .plan h4 {
    margin-bottom: 0;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
}

.price-time a {
    margin-left: auto;
}

.price-time a:hover {
    text-decoration: none;
    cursor: pointer;
    color: rgb(56, 41, 224);
    opacity: 0.8;
}

.bottom {
    display: flex;
    flex-direction: column;
}

button {
    background-color: rgb(56, 41, 224);
    border: none;
    border-radius: 10px;
    height: 40px;
    color: hsl(225, 100%, 98%);
    box-shadow: 0px 15px 12px 5px rgba(224, 232, 255, 0.7);
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bottom a {
    text-decoration: none;
    margin-top: 15px;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
}

.bottom a:hover {
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}

@media only screen and (max-width: 600px) {
    .container {
        width: 60%;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        width: 80%;
        /* font-size: 0.6em; */
    }
}

@media only screen and (max-width: 370px) {
    .container {
        width: 90%;
        font-size: 0.7em;
    }
    body {
        background-image: url(./images/pattern-background-mobile.svg);
    }
}